### Basic SQL

In [ ]:
%load_ext sql
import pandas as pd
%sql sqlite://

In [ ]:
# For compatibility across multiple platforms
import os
IB = os.environ.get('INSTABASE_URI',None) is not None
open = ib.open if IB else open

In [ ]:
# Load tables from CSV files
# Cities
with open('Cities.csv','rU') as f:
    Cities = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql drop table if exists Cities;
%sql persist Cities
# Countries
with open('Countries.csv','rU') as f:
    Countries = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql drop table if exists Countries;
%sql persist Countries
# Players
with open('Players.csv','rU') as f:
    Players = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql drop table if exists Players;
%sql persist Players
# Teams
with open('Teams.csv','rU') as f:
    Teams = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql drop table if exists Teams;
%sql persist Teams

#### Look at sample of Cities and Countries tables

In [ ]:
%%sql
select * from Cities limit 5

In [ ]:
%%sql
select * from Countries limit 5

### Basic Select statement
Select columns  
From tables  
Where condition

*Find all countries not in the EU*

In [ ]:
%%sql
select country
from Countries
where EU = 'no'

*Find all cities with temperature between -5 and 5; return city, country, and temperature*

In [ ]:
%%sql
select city, country, temperature
from Cities
where temperature > -5 and temperature < 5

### Ordering

*Modify previous query to sort by temperature*

*Modify previous query to sort by country, then temperature descending*

### <font color = 'green'>Your Turn</font>

*Find all countries with no coastline and with population > 9. Return the country and population, in descending order of population.*

In [ ]:
%%sql
YOUR QUERY HERE

### Multiple tables in From clause - Joins

*Find all cities with longitude < 10 not in the EU, return city and longitude*

In [ ]:
%%sql
select city, longitude
from Cities, Countries
where Cities.country = Countries.country
and longitude < 10 and EU = 'no'

*Modify previous query to also return country (error then fix)*

*Find all cities with latitude < 50 in a country with population < 5; return city, country, and population, sorted by country*

In [ ]:
%%sql
select city, Cities.country, population
from Cities, Countries
where Cities.country = Countries.country
and latitude < 50 and population < 5
order by Cities.country

#### Inner Join -- just FYI

*Same query as above*

In [ ]:
%%sql
select city, Cities.country, population
from Cities inner join Countries
     on Cities.country = Countries.country
where latitude < 50 and population < 5
order by Cities.country

### Select *

*Modify previous queries to return all attributes*

### <font color = 'green'>Your Turn</font>

*Find all cities with latitude > 45 in a country with no coastline and with population > 9. Return the city, country, latitude, and whether it's in the EU.*

In [ ]:
%%sql
YOUR QUERY HERE

### Aggregation and Grouping

*Find average temperature for all cities*

In [ ]:
%%sql
select avg(temperature)
from Cities

*Modify previous query to find average temperature of cities with latitude > 55*

*Modify previous query to also find minimum and maxiumum temperature of cities with latitude > 55*

*Modify previous query to return number of cities with latitude > 55*

*Rename result column as northerns*

*Find minimum and maximum temperature of cities in the EU (then not in the EU)*

In [ ]:
%%sql
select min(temperature), max(temperature)
from Cities, Countries
where Cities.country = Countries.Country
and EU = 'yes'

### <font color = 'green'>Your Turn</font>

*Find the number of cities with latitude > 45 in a country with no coastline and with population > 9. Return the number of cities along with their minimum and maximum latitude.*

In [ ]:
%%sql
YOUR QUERY HERE

*Find average temperature for each country*

In [ ]:
%%sql
select country, avg(temperature)
from Cities
group by country

*Modify previous query to sort by descending average temperature*

*Modify previous query to show countries only*

*Modify previous query to find average temperature for cities in countries with and without coastline, then cities in the EU and not in the EU, then all combinations*

*Modify previous query to only include cities with latitude < 50, then latitude < 40*

### <font color = 'green'>Your Turn</font>

*For each country in the EU, find the latitude of the northernmost city in the country, i.e., the maximum latitude. Return the country and its maximum latitude, in descending order of maximum latitude.*

In [ ]:
%%sql
YOUR QUERY HERE

### The Limit clause

*Return any three countries with population > 20*

In [ ]:
%%sql
select country
from Countries
where population > 20
limit 3

*Find the ten coldest cities*

In [ ]:
%%sql
select city, temperature
from Cities
order by temperature
limit 10

### <font color = 'green'>Your Turn - Basic SQL on World Cup Data</font>

#### Look at sample of Players and Teams tables

In [ ]:
%%sql
select * from Players limit 5

In [ ]:
%%sql
select * from Teams limit 5

*1)  What player on a team with “ia” in the team name played less than 200 minutes and made more than 100 passes? Return the player surname. Note: To check if attribute A contains string S use "A like '%S%'"*

In [ ]:
%%sql
YOUR QUERY HERE

*2) Find all players who made more than 20 shots. Return all player information in descending order of shots made.*

In [ ]:
%%sql
YOUR QUERY HERE

*3) Find the goalkeepers of teams that played more than four games. List the surname of the goalkeeper, the team, and the number of minutes the goalkeeper played.*

In [ ]:
%%sql
YOUR QUERY HERE

*4) How many players who play on a team with ranking <10 played more than 350 minutes? Return one number in a column named 'superstar'.*

In [ ]:
%%sql
YOUR QUERY HERE

*5) What is the average number of passes made by forwards? By midfielders? Write one query that gives both values.*

In [ ]:
%%sql
YOUR QUERY HERE

*6) Find the ten players who have the highest number of shots + tackles. For each one return surname, team, position, and shots+tackles. Note: You can do arithmetic in Select and Order By clauses*

In [ ]:
%%sql
YOUR QUERY HERE